# Supabase Configuration
VITE_SUPABASE_URL=https://ulypluvnbfuqanutegjl.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_N3kGVHNnHtmV0j-YPtkefA_LxmB9Ceo

# Application
VITE_APP_NAME=Console Manager
VITE_APP_ENV=development
